@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import '../node_modules/bulma-fab-button/src/bulma-fab-button.sass';

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

$fa-font-path: "../fontawesome/webfonts";

@import "../node_modules/bulma/bulma";
@import "../node_modules/bulma-fab-button/src/bulma-fab-button.sass";
@import "../static/fontawesome/scss/fontawesome.scss";
@import "../static/fontawesome/scss/brands.scss";
@import "../static/fontawesome/scss/solid.scss";

#login-screen {
	background-color: $red;
}

#login-placing {
	margin-top: 30%;
	background-color: $red;
}

nav {
	flex: 1;
}
main {
	flex: 1;
}

#app {
	flex: 1;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

footer {
	margin-top: auto;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.image-box-table {
	margin-bottom: 0.5rem;
}

.name-list {
	margin-top: 0px !important;
	margin-bottom: 0.5rem;
}

.setup-image-box-select {
	margin-bottom: 0px !important;
}

.card-content .title {
	margin-bottom: 0.75rem !important;
}

.card-content hr  {
	margin-bottom: 0.75rem !important;
	margin-top: 0.75rem !important;
}

.content label {
	margin-bottom: 0px !important;
}

.image-list-icon {
	float: right;
	margin-right: 2%;
}

.image-add-item {
	margin: 0px;
	padding-top: 1.5rem;
}

.image-list-label {
	margin-left: 2%;
}

.image-add-items {
	margin-bottom: 8px;
}


#image-list-tabs {
	margin-bottom: 0px;
}

.image-add-items>div:nth-child(even) {
	background-color: $warning;
}

.image-add-items>div:nth-child(even):hover {
	background-color: hsl(44deg, 100%, 68%);
}

.image-add-items>div:nth-child(odd):hover {
	background-color: $white-ter;
}
.image-add-item>hr {
	margin: 0px;
}

#image-list-tabs .modal-field {
	padding-bottom: 1rem !important;
}

.modal-card-body span:not(.icon) {
	margin-top: 0.5rem !important;
	margin-bottom: 0px !important;
}

.modal-card-body input:not(:first-chil) {
	margin-top: 0.5rem !important;
}
