<header>
  <nav class='navbar is-info' role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
	  <a class="navbar-item">BAAS</a>
	  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
	  </a>
	</div>
	<div id="navbar" class="navbar-menu">
	  <div class="navbar-start">
		<a class="navbar-item">Home</a>
		<a class="navbar-item">User</a>
		<a class="navbar-item">Images</a>
		<a class="navbar-item">Image setups</a>
		<a class="navbar-item">Machines</a>
	  </div>
	</div>
  </nav>
</header>
