<div id="home-window" class="window" data-onshow="getHome()">
	<section class="hero is-danger">
		<div class="hero-body">
			<p class="title">BAAS Project Homepage</p>
			<p class="subtitle">A simple debugging web interface</p>
		</div>
	</section>

	<div class="box" id="front-page">
		<h4 class="title is-4">What is BAAS?</h4>
		BAAS is a simple server-based solution to deploy images on
		dedicated machines. Such machines can be hardware-based,
		virtual or a combination. It works based on images which are
		combined into image setups which can be deployed to the
		server. This setup allows for a mix-and-match between various
		images to reduce duplication, ease experimentation and add
		extensibility to software imaging. 

		<h4 class="title is-4">Why was it made?</h4>
		The project was setup by professor Dr. J.S. Rellermeyer in
		order to support research at universities. It specifically
		targets OS and distributed computing tasks, but it can be used
		more broadly as well. 
		
		<h4 class="title is-4">Who created it?</h4>
		It is a joint student project of
		the <a href="https://www.uni-hannover.de/en/">Leibniz
		Universität Hannover</a> and
		the <a href="https://tudelft.nl/en">Delft University of
		Technology.</a> The backend was developed by Jonathan
		Dönszelmann, Victor Roest and Valentijn van de Beek. A
		webfront end for BAAS was created by Valentijn van de Beek
		with the help of Paulina.

		<h4 class="title is-4">How can I contribute?</h4>
		Your help is always wanted and university allegiance is
		entirely optional! The backend can be found on the
		<a href="https://github.com/baas-project/baas">project
		GitHub</a>. This debugging frontend is a personal project
		of <a href="https://github.com/ValentijnvdBeek/baas-website">. Both
		are licensed under the
		<a href="http://opensource.org/licenses/BSD-3-Clause"> BSD 3-Clause License</a>
	</div>
</div>
