<div id="machines-window" class="window" data-onshow="getMachines()" hidden="none">
	<section class="hero is-primary">
		<div class="hero-body">
			<p class="title">Machines Info</p>
			<p class="subtitle">Shows information about various machines</p>
		</div>
	</section>
	<div class="columns is-centered mt-3 is-3 is-multiline" id="machine-list">
	</div>

	<div class="modal" id="add-new-machine-modal">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p class="modal-card-head">
					<p class="modal-card-title">Add New Machine</p>
					<button class="delete" aria-label="close"></button>
				</p>
			</header>
			<section class="modal-card-body">
				<span class="label">Name:</span>
				<input class="input" type="text" placeholder="some machine name" id="machine-name-select">
				<span class="label">Architecture</span>
				<div class="select">
					<select id="machine-architecture-select">
						<option>x86_64</option>
					</select>
				</div>
				<span class="label">Managed</span>
				<label class="checkbox">
					<input type="checkbox" id="machine-managed-select" value="on" checked>
				</label>
				<span class="label">MAC Address</span>
				<input class="input is-primary mb-3" type="text" placeholder="DE:AD:BE:EF" id="machine-mac-select">
			</section>
			<footer class="modal-card-foot">
				<button class="button is-success" onclick="addMachine()">Save changes</button>
				<button class="button">Cancel</button>
			</footer>
		</div>
	</div>

	<a href="#" class="button is-floating is-link" data-target="add-new-machine-modal"
	 onclick="openModal(document.getElementById('add-new-machine-modal'));"
	 class="add-new-machine-modal-trigger">
	  <span class="icon is-warn">
		  <i class="fas fa-display"></i>
	  </span>
	</a>
</div>
