<div id="user-window" class="window" hidden="none">
  <section class="hero is-warning">
	<div class="hero-body">
	  <p class="title">User Info</p>
	  <p class="subtitle">Shows your user info</p>
	</div>
  </section>
  <div class="columns is-multiline mt-3">
	<div class="column">
	  <div class="field is-centered ml-4">
		<label class="label">Name</label>
		<hr>
		<span id="user-name" class="has-text-dark"></span>
	  </div>
	</div>
    <div class="column">
	  <div class="field is-centered ml-4">
		<label class="label">Email</label>
		<hr>
		<span id="user-email" class="has-text-dark"></span>
	  </div>
	</div>
	<div class="column">
	  <div class="field is-centered ml-4">
		<label class="label">Role</label>
		<hr>
		<span id="user-role" class="has-text-dark"></span>
	  </div>
	</div>
  </div>
</div>

